<div class="m-4">
    <div class="row">
        <div class="col-lg-8 post-frame">
            <h1>{{post.title}}</h1>
            <div>
                <p>
                    {{post.content}}
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="text-center">Bài viết liên quan
            </h4>
            <div class="related-posts">
                {{#each relatedPosts }}
                    <div class="card card-related-post-item">
                        <a href="/posts/{{this.slug}}">
                        <div class="card-body">
                            <a href="/posts/{{this.slug}}">
                            <h5 class="card-title">{{this.title}}</h5>
                            </a>
                        </div>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>