<form class="m-3" name="handle-trashed-form-actions" method="POST" action="/posts/handle-trashed-form-actions">
  <div class="mb-3">
    <a href="/me/stored/posts">Danh sách bài viết</a>
    <h3>Bài đăng đã xóa</h3>
    <div class="m-3 d-flex align-items-center" style="gap: 10px">
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>
      <select class="form-control fomr-control-sm mb-2 checkbox-select-all-options text-center" name="action" required="required">
        <option value="">-- Chọn hành động --</option>
        <option value="restore">Khôi phục</option>
        <option value="forceDelete">Xóa vĩnh viễn</option>
      </select>
      <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Áp dụng</button>
    </div>
  </div>
    <table class="table table-bordered">
        <thead>
            <tr>
              <th class="text-right" scope="col" colspan="2">#</th>
              <th scope="col">
                <span>Tiêu đề</span>&nbsp;
                {{{sortable 'title' _sort}}}
                </th>
              <th scope="col">
                <span>Thể loại</span>
              </th>
              <th scope="col" scope="col">
                Tác giả
                {{{sortable 'author' _sort}}}
              </th>
              <th scope="col">Nguồn</th>
              <th scope="col">
                Thời gian tạo
                {{{sortable 'createdAt' _sort}}}
                </th>
              <th class="text-center" scope="col" colspan="2">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
            <td>
              <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" name="postIds[]"
                  value="{{this._id}}"/>
              </div>
            </td>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.title}}</td>
            <td>{{this.category}}</td>
            <td>{{this.author}}</td>
            <td>{{this.credit}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
            </td>
            <td>
                <a href="" class="btn btn-link"  data-toggle="modal" data-target="#delete-post-modal" data-id="{{this._id}}">Xóa vĩnh viễn</a>
            </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="7" class="text-center">
                <i>
                  Thùng rác trống.
                  <a href="/me/stored/posts">Danh sách bài viết.</a>
                </i>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm to delete post --}}

<div class="modal" id="delete-post-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hành động này không thể khôi phục được?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa vĩnh viễn bài viết này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-post" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Confirm to delete post --}}

<div class="modal" id="delete-courses-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hành động này không thể khôi phục được?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa vĩnh viễn các bài viết đã chọn này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-multiple-posts" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-post-form" method="post"></form>
<form name="restore-post-form" method="post"></form>

<script>
    // When dialog confirm clicked
    document.addEventListener('DOMContentLoaded', function() {
        var postId;
        //Forms
        var deleteForm = document.forms['delete-post-form'];
        var restoreForm = document.forms['restore-post-form'];
        var deleteMultiplePostsForm = document.forms['handle-trashed-form-actions'];

        // Buttons
        var btnDeletePost = document.getElementById('btn-delete-post');
        var restoreBtn = $('.btn-restore');
        var checkAllSubmitBtn = $('.check-all-submit-btn');
        var btnDeleteMultiplePosts = $('#btn-delete-multiple-posts');

        // Others
        var postItemCheckbox = $('input[name="postIds[]"]');
        var checkboxAll = $('#checkbox-all');
        var checkBoxSelectAllOptions = $('.checkbox-select-all-options');

        $('#delete-post-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            postId = button.data('id');
        });
        
        // Deleted btn clicked
        btnDeletePost.onclick = function () {
            deleteForm.action = '/courses/' + postId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        // Restored btn clicked
        restoreBtn.click(function(e) {
          e.preventDefault();
          var postId = $(this).data('id');
          restoreForm.action = '/courses/' + postId + '/restore?_method=PATCH';
          restoreForm.submit();
        });

        // CheckboxAll clicked
        checkboxAll.change(function () {
          var isCheckedAll = $(this).prop('checked');
          postItemCheckbox.prop("checked", isCheckedAll);

          renderCheckAllSubmitBtn();
        })

        // Post item checkbox clicked
        postItemCheckbox.change(function() {
          var isCheckedAll = postItemCheckbox.length === $('input[name="postIds[]"]:checked').length;
          
          checkboxAll.prop('checked', isCheckedAll);

          renderCheckAllSubmitBtn();
        })

        // Get delete option and change attribute
        checkAllSubmitBtn.click(function() {
          var selectedOption = checkBoxSelectAllOptions.find(':selected').val();
          if (selectedOption === 'forceDelete') {
            checkAllSubmitBtn.attr('data-toggle', 'modal');
            checkAllSubmitBtn.attr('data-target', '#delete-courses-modal');
            checkAllSubmitBtn.attr('type', 'button');
          } else {
            checkAllSubmitBtn.removeAttr('data-toggle', 'modal');
            checkAllSubmitBtn.removeAttr('data-target', '#delete-courses-modal');
            checkAllSubmitBtn.removeAttr('type', 'button');
          }
        })

        // Click delete confirm button 
        btnDeleteMultiplePosts.click(function() {
          deleteMultiplePostsForm.submit();
        })

        function renderCheckAllSubmitBtn() {
          var checkCount = $('input[name="postIds[]"]:checked').length;
          if (checkCount > 0) {
            checkAllSubmitBtn.attr('disabled', false);
          } else {
            checkAllSubmitBtn.attr('disabled', true);
          }
        }

    });

</script>